html {
  font-size: 62.5%; /* Ajuste REM */
  box-sizing: border-box;
}

*, *::before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(25,25,25);
  color: white;

  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/** Title **/
.title {
  font-family: Pixelify Sans;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

/** buttons **/
.move-icon {
  height: 7rem;
}

.move-button {
  background-color: transparent;
  border: 0.7rem solid white;
  width: 120px;
  height: 120px;

  margin-right: 10px;
  cursor: pointer;
}

.move-button:hover {
  background-color: rgba(0,0,0,0.5);
}

.move-button:active {
  background-color: transparent;
}

/** result **/
.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 50px;
}

.score-square {
  text-align: center;
}

.score-square p {
  font-size: 3rem;
  font-weight: bold;
}

/** Reset button **/
.reset-score-button, .auto-play-button {
  font-family: Pixelify Sans;
  font-size: 3rem;
  text-transform: uppercase;

  background-color: white;

  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.reset-score-button:hover, .auto-play-button:hover {
  background-color: rgb(215, 214, 214);
}

.reset-score-button:active, .auto-play-button:active {
  background-color: white;
}

.auto-play-button {
  margin-top: 20px;
}

/** reset question **/
.reset-square {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.reset-question {
  font-size: 2rem;
}

.confirm-button {
  font-size: 2rem;
  background-color: transparent;
  border: 5px solid white;
  color: white;

  padding: 1rem 3rem;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: rgba(0,0,0,0.5);
}

.confirm-button:active {
  background-color: transparent;
}